<div class="page-content">
	<div class="actions">
		<div class="save">
			<span class="save-profile-button glyphicon glyphicon-floppy-disk"></span>
			<h5>Save Profile</h5>
		</div>
	</div>
	

	<div class="header-info clearfix">
		<img class="profile-photo" src="<%= profile.escape('photo_url') %>">

		<div class="basic-info">
			<h1 class="profile-username"><input class="form-control" name="username" value="<%= profile.escape('username') %>"</h1>
			<h3 class="style"><%= profile.escape('style') %></h3>
		</div>
	</div>

	<hr class="header-divider">

	<div class="about-me">
	<h4 class="profile-header">About me</h4>
		<ul class="profile-text-fields profile-list">
			<li><p class='self-summary'><h5>Self summary: </h5><%= profile.escape('self_summary') %></p></li>
			<li><p class='good_at'><h5>Good at: </h5><%= profile.escape('good_at') %></p></li>
			<li><p class='message_if'><h5>Message if: </h5><%= profile.escape('message_if') %></p></li>
		</ul>
	</div>

	<hr>

	<div class="features">
	<h4 class="profile-header">Features</h4>
		<ul class="profile-features profile-list list-group">
			<li class="height list-group-item">Height: <%= profile.escape('height') %></li>
			<li class="weight list-group-item">Weight: <%= profile.escape('weight') %></li>
			<li class="body_type list-group-item">Body Type: <%= profile.escape('body_type') %></li>
			<li class="weight_class list-group-item">Weight Class: <%= profile.escape('weight_class') %></li>
		</ul>
	</div>

	<%= JST['profiles/_looking_for']({ profile: profile }) %>
</div>