<img class="index-item-photo" src="<%= profile.escape('photo_url')%>">
<h3 class="username"><%= profile.escape('username') %></h3>
<h4><%= profile.escape('style') %> - <%= profile.escape('weight_class') %></h4>
<h5><%= profile.escape('age') %> | <%= profile.escape('body_type') %></h5>