<!DOCTYPE html>
<html>
<head>
  <title>KOCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <% if logged_in? %>
  	<script>
	  		Kocupid.currentUserId = <%= current_user.id %>	
        Kocupid.currentProfileId = <%= current_user.profile.id %>
	  </script>
  <% end %>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <style>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
      height: 100px;
    }
  </style>

</head>
<body>

<%= yield %>

</body>
</html>
