<!DOCTYPE html>
<html>
<head>
  <title>KOCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= filepicker_js_include_tag %>

  <% if logged_in? %>
  	<script>
	  		Kocupid.currentUserId = <%= current_user.id %>
        Kocupid.currentProfileId = <%= current_user.profile.id %>
	  </script>
  <% end %>
  
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
    Kocupid.authenticityToken = "<%= form_authenticity_token %>";
  </script>

  <style>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
      height: 100px;
    }
  </style>

</head>
<body>



<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= error %>
    </div>
  <% end %>
<% end %>

  <%= yield %>

</body>
</html>
