<!DOCTYPE html>
<html>
<head>
  <title>KOCupid</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if logged_in? %>
  	<script>
	  		Kocupid.currentUserId = <%= current_user.id %>	
	  </script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
